<app-header></app-header>
<h1> Feedback </h1>
<mat-card class="rating-log">
  <mat-card-title class="rating-title">Your week's ratings log</mat-card-title>

  <ul>
    <li *ngFor="let sub of subject; let i = index" [attr.data-index]="i">
      {{sub}}: 
      <span *ngIf="feedback[i]==0"> Unrated</span>
      <span *ngIf="feedback[i]!=0"> {{feedback[i]}}</span>
    </li>
  </ul>
</mat-card>

<mat-card class="rating-stats">
  <mat-card-title class="rating-title">Your average rating vs your classmates' average</mat-card-title>
  <ul>
    <li *ngFor="let sub of subject; let i = index" [attr.data-index]="i">
      {{sub}}:
      <span *ngIf="average_me[i]==0">Unrated</span>
      <span *ngIf="average_me[i]!=0">{{average_me[i]}}</span>
      ,
      <span *ngIf="average_all[i]==0">Unrated</span>
      <span *ngIf="average_all[i]!=0">{{average_all[i]}}</span>
    </li>

  </ul>
</mat-card>
