.rating-log {
  position: absolute;
  top: 20%;
  left: 10%;
  margin-top: 30px;
  width: 30%;
}

.rating-stats {
  position: absolute;
  top: 20%;
  left: 55%;
  margin-top: 30px;
  width: 30%;
}

.rating-title {
  text-align: center;
  padding: 20px;
  background-color: rgba(255,64,129,0.5);
}

.spacer {
  display: flex;
  justify-content: space-between;
}

h1 {
  color: primary;
  text-align:center;
  margin-top:20px;
}