.rating-log {
  position: absolute;
  top: 20%;
  left: 10%;
  width: 30%;
}

.rating-stats {
  position: absolute;
  top: 20%;
  left: 55%;
  width: 30%;
}

.rating-title {
  text-align: center;
  padding: 20px;
  background-color: rgba(255,64,129,0.5);
}
