<table style="width:100%">
    <tr>
        <button [disabled]="it <= 0" (click)="expandLess()" mat-icon-button position="center" aria-label="Expand less icon-button">
            <mat-icon>expand_less</mat-icon>
        </button>
    </tr>
    
    <ng-container *ngFor="let i of ITER;">
        <tr>
            <ng-container *ngIf="it <= i && i < it+3">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>{{ this.cards[i] }}  
                            <span *ngIf="this.votes[i]!=0"> ({{this.votes[i]}}) </span>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-actions *ngIf="this.votes[i]!=0">
                        <div class="container">
                            <span class="left-span">
                                <button (click)="unvote(i)" mat-icon-button  color="primary" aria-label="Star icon-button">
                                    <mat-icon class="icon-small">star</mat-icon>
                            </button>
                            <span class="vertical">Change your rating</span>
                            </span>
                            <span class="right-span">
                                <button (click)="community()" mat-icon-button  color="primary" aria-label="Person icon-button">
                                    <mat-icon class="icon-small">emoji_people</mat-icon>
                                </button>
                                <span class="vertical">Volunteer to help your classmates</span>
                            </span>
                        </div>
                    </mat-card-actions>
                    <mat-card-actions *ngIf="this.votes[i]==0">        
                        <mat-slider 
                            (input)="prop(i,$event)"
                            class="card-slider"
                            max="10"
                            min="1"
                            thumbLabel
                            color="primary"
                        ></mat-slider>
                        <button (click)="vote(i)" class="vote-button" mat-raised-button color="primary"> Vote </button>
                    </mat-card-actions>
                </mat-card>
            </ng-container>
        </tr>
    </ng-container>

    <tr>
      <button [disabled]="it+3 >= n"(click)="expandMore()" mat-icon-button position="center" aria-label="Expand more icon-button">
          <mat-icon>expand_more</mat-icon>
      </button>
    </tr>
</table>
