.right-span {
    float: right;
}

.left-span {
    float: left;
}

.container {
    height: auto;
    overflow: hidden;
    margin: 5px;
}

mat-card-title {
    margin: 5px;
}

.mat-slider-horizontal {
    width: 75%;
    float: center;
    margin: 0px 30px;
}

mat-card {
    background-color: rgba(133,151,255,0.4);
}

mat-card:hover {
    background-color:rgba(133,151,255,0.7);
    ;
}

vote-button {
    padding: 0px 10%;
}