.vertical {
  vertical-align: middle;
}


/*
.bottom-card {
  width: 30%;
  position: absolute;
  left: 50%;
  top: 75%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
*/

.icon {
  padding: 0 14px;
}

.icon-small {
  padding: 0 8px;
}

.right-span {
  position: relative;
  right: -30%;
}

.left-span {
  position: relative;
  right: -1%;
}

.middle-title {

}

.aux-card {
  background-color: rgba(133,151,255,0.4);
}


.middle-card {
  background-color: rgba(133,151,255,0.4);
}

.middle-card:hover {
  background-color: rgba(133,151,255,0.7);
}

.aux-card:hover {
  background-color: rgba(133,151,255,0.7);
}


.mat-slider-horizontal {
  width: 100%;
}


.mat-icon-button {
  &[position='right'] {
      position: relative;
      left: 30%;
  }
  &[position='left'] {
      position: relative;
      left: 3%;
  }
  &[position='center'] {
      position: relative;
      left: 50%;
  }
}
