<mat-toolbar color="primary" style="height:90px;">
  <img src="assets/img/grasp-logo.png" height="100px">
  <span class="spacer-small"></span>
  <span class="main-title">Grasp</span>
  <span class="spacer"></span>
  <span class="spacer-small"></span>
  <button mat-icon-button (click)="communityClicked()">
    <mat-icon class="icon">question_answer</mat-icon>
  </button>
  <span class="spacer-small"></span>
  <button mat-icon-button (click)="feedbackClicked()">
    <mat-icon class="icon">poll</mat-icon>
  </button>
  <span class="spacer-small"></span>
  <app-dialog-data-example [username]="username"></app-dialog-data-example>
  <p>{{ this.username }}</p>
  <span class="spacer-small"></span>
  <app-dialog-out></app-dialog-out>
</mat-toolbar>
